[Unit]
Description = DHT22 observation service
After = syslog.target

[Service]
Type = simple
User = root
WorkingDirectory = /home/pi/observer
EnvironmentFile = /etc/dht22.env
ExecStart = /usr/bin/env python3 /home/pi/observer/dht22.py
Restart = always
RestartSec = 5

[Install]
WantedBy = multi-user.target
